<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Categories - Basic Store</title>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <h1>Basic Store</h1>
    </header>
    <main class="main" role="main">
      <section class="sidebar">
        <ul>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/pages">Pages</a></li>
          <li><a href="/configurations">Configs</a></li>
        </ul>
      </section>
      <section class="content">
        
      </section>
    </main>
    <footer class="footer">

    </footer>

  </div>
</body>
</html>